{
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 60,
  "reporter": [
    "cobertura",
    "text",
    "text-summary",
    "lcov"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "all": true,
  "check-coverage": false,
  "per-file": false,
  "report-dir": "./coverage",
  "cache": false
}
