#Home

    h1 This is an web-app-sample for appid-serversdk-nodejs.

    if isAuthenticated
        h3 You're authenticated!
        h3= name
        h4= sub
        img(src=""+picture)
        hr
        button(onclick="window.location='/ibm/bluemix/appid/logout'") Logout
    else
        h3 We don't know you:(

    button(onclick="window.location='/ibm/bluemix/appid/loginanon'") Login anonymously
    button(onclick="window.location='/ibm/bluemix/appid/login'") Login
    button(onclick="window.location='/userProfile'") Get user profile
