<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Password changed</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <style>
        body {
            background-image:url(/images/bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            padding-top:80px;
        }
        .whiteCenterText {
            text-align: center;
            color: white;
        }
        .confirmMsg {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
        }
        .boldEmail{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container whiteCenterText">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="imgDiv">
            <img class="center-block" id="logo" alt="logo"
                 style="height: 140px; width: 140px; object-fit: contain;margin-top: 40px" src="/images/logo_cloud_land.png">
        </div>
        <h2><%= passwordChanged1 %></h2>
        <p class="confirmMsg"><%= passwordChanged2 %></p>
        <p class="boldEmail confirmMsg"><%= email %></p>
        </br>
        </br>
        <p class="confirmMsg"><%= passwordChanged3 %></p>

    </div>
</div>
</body>
</html>