<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <style>
        body {
            background-image: url(/images/bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            padding-top: 80px;
        }

        .whiteCenterText {
            text-align: center;
            color: white;
        }

        @media (min-width: 768px) {
            .row-sm-offset-3 div:first-child[class*="col-"] {
                margin-left: 25%;
            }
        }


    </style>
</head>
<body background="../appidExample.png">
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="imgDiv">
            <img class="center-block" id="logo" alt="logo"
                 style="height: 140px; width: 140px; object-fit: contain;margin-top: 40px"
                 src="/images/logo_cloud_land.png">
        </div>

        <h2 class="whiteCenterText"><%= expiredMsg %></h2>

    </div>

</div>
</body>
</html>