# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12
    - run: npm install
    - run: npm install -g codecov
    - run: npm run coverage
    - run: cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
    - run: echo "Added github actions - here deployment"
      if: github.ref == 'master'
